body {
   margin: 0;
   padding: 0;
   background: #323453;
   font: 10px/13px 'Lucida Sans',sans-serif;
}

.grid {
   width: 23%;
   background: #000;
   color: #FFF;
   position: relative;
   float: left;
}
.inner {
}

#wrap {
   overflow: hidden;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .grid {
      width: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .grid {
      width: 50%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .grid {
      width: 25%;
   }
}